.footerContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.footerContainer > button {
  width: 150px;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: rgb(88, 88, 250);
}

.btn {
  padding-left: 35px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.arrow {
  transform: scale(1.5);
}
